<!DOCTYPE html>
<html>
<body style="font-family: 'Helvetica Neue', Arial, sans-serif; color: #fff; background-color: #000; margin: 0; padding: 0;">
<table style="width: 100%; max-width: 600px; margin: 0 auto; border-collapse: collapse; background-color: #000;">
    <tr class="header">
        <td>
            <img src="https://www.qries.com/images/banner_logo.png" alt="Company Logo" style="width: 100%; height: auto; max-height: 150px; object-fit: contain;">
        </td>
    </tr>
    <tr>
        <td class="content" style="padding: 20px;">
            <h2 style="color: #fff;">Welcome to Chronos TodoList!</h2>
            <p style="color: #fff;">Thank you for registering with us. We're excited to have you onboard.</p>
            <p style="color: #fff;">Please click the button below to confirm your registration:</p>
            <a href="${confirmationUrl}" class="button" style="display: inline-block; padding: 10px 20px; margin: 20px 0; color: #000; background-color: #fff; text-decoration: none; border-radius: 5px;">Confirm Registration</a>
            <p style="color: #fff;">If you didn’t register with us, please ignore this email.</p>
            <br>
            <p style="color: #fff;">Best regards,<br>Midashina.ai</p>
        </td>
    </tr>
    <tr>
        <td class="footer" style="background-color: #000; padding: 20px; text-align: center; font-size: 12px; color: #6c757d;">
            <p>Chronos Inc.<br>1234 Your Street, Your City, Your Country</p>
            <p>&copy; 2024 Midashina.ai. All rights reserved.</p>
        </td>
    </tr>
</table>
</body>
</html>
